@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

h1,h2,h3{
font-family:Sora;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
  background: #010817;
}

::selection {
  background: rgba(37, 99, 235, 0.4);
  color: white;
}

* {
  box-sizing: border-box;
}

section {
  scroll-margin-top: 70px;
}

/* background-image:
linear-gradient(
rgba(255,255,255,0.05) 1px,
transparent 1px
),
linear-gradient(
90deg,
rgba(255,255,255,0.05) 1px,
transparent 1px
);

background-size:50px 50px; */